<h1>Listing pages</h1>

<%= link_to 'Refresh', refresh_pages_url %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Created at</th>
      <th>Revised</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= link_to facebook_page_url(page), facebook_page_url(page) %></td>
        <td><%= page.created_at %></td>
        <td style="text-align:center"><%= check_box_tag :revised %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New page', new_page_path %>
