%table.table.mt2
  %thead
    %tr
      %th Imagen
      %th Nombre
      %th Fecha
      %th Tipo
      / if admin
      / %th Revisado
      %th{colspan: "3"}
  %tbody
    - circles.each do |circle|
      %tr
        %td
          = image_tag circle.image_url, size: '200x100'
        %td
          = link_to circle.name, facebook_circle_url(circle)
        %td
          = circle.constituted_at ? "Hace #{time_ago_in_words(circle.constituted_at)}" : "Desconocido"
        %td
          = t("text.#{circle.kind}")
        / if admin
        / %td.txt-center 
        /   = form_for circle, remote: true, method: :put do |f|
        /     = f.check_box :revised, {class: 'js-circle-visited'}