%table.table
  %thead
    %tr
      %th Nombre
      %th Fecha
      %th Tipo
      %th Revisado
      %th{colspan: "3"}
  %tbody
    - circles.each do |circle|
      %tr
        %td= link_to circle.name, facebook_circle_url(circle)
        %td
          Hace #{time_ago_in_words(circle.created_at)}
        %td= circle.kind
        %td
          = form_for circle, remote: true, method: :put do |f|
            = f.check_box :revised
